body {
    margin: 0px;
    padding-top: 609px;
}

nav {
    top: 0px;
    left: 0px;
    width: 1870px;
    height: 600px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: white;
    border-bottom: 1px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./images/girl.jpg);
    background-size: cover;
    background-position: center;
    margin-top: -609px;
}

nav .logo {
    padding-top: 22px;
    padding-left: 250px;
    height: 80px;
    float: left;
    font-size: 29px;
    font-weight: bold;
    color: white;
    font-family: 'Calligraffitti', cursive;
}

nav .logo1 {
    padding-top: 24px;
    padding-left: 1px;
    height: 80px;
    float: left;
    font-size: 29px;
    font-weight: 900;
    color: white;
    font-family: sans-serif;
}

nav ul {
    margin-top: 10px;
    list-style: none;
    float: right;
    margin: 0;
    padding-right: 200px;
    display: flex;
}

nav ul li a {
    line-height: 80px;
    padding-left: 25px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    font-family: 'Inter', sans-serif;
}

.about {
    padding-right: 25px;
}

.dropbtn {
    margin-top: 29px;
    background-color: none;
    color: white;
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    font-family: 'Inter', sans-serif;
}

h1 {
    margin-top: 110px;
    margin-left: 250px;
    font-size: 64px;
    color: white;
    margin-bottom: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.comeon {
    margin-top: 14px;
    background: rgb(42, 126, 244);
    outline: none;
    border: none;
    border-radius: 30px;
    width: 170px;
    height: 50px;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    font-size: 15px;
}

.for {
    margin-right: 350px;
}

.signin {
    padding-left: 0px;
}

.serchbar {
    margin-left: 250px;
    margin-top: 20px;
    height: 86px;
    width: 570px;
    background: rgb(255, 251, 251);
    border-radius: 50px;
}

.search {
    width: 250px;
    border: 0;
    outline: 10px;
    font-size: 19px;
    color: black;
    margin-left: 60px;
    margin-top: 29px;
    text-align: left;
    margin-right: 0px;
    background-color: white;
}

.icons {
    margin-left: 485px;
    margin-top: -48px;
    font-size: 25px;
    background-color: rgba(20, 122, 170, 0.98);
    border-radius: 50px;
    width: 78px;
    height: 50px;
    text-align: center;
    padding-top: 24px;
    color: rgba(255, 255, 255, 0.94);
}

.cnumber {
    width: 70px;
    margin-left: +20px;
    color: blue;
    font-size: 15px;
    border: 0;
    outline: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.0);
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.cnumber option {
    color: black;
}

.playstore {
    text-decoration: none;
}

.playstore1 {
    margin-top: 30px;
    margin-left: 250px;
    border-radius: 50px;
    color: black;
    height: 60px;
    width: 180px;
    background-color: white;
}

.aa {
    margin-left: 60px;
    margin-top: -34px;
    font-weight: 50;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

.rating {
    margin-left: 60px;
    font-weight: bold;
    font-weight: 50;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.playi {
    margin-left: 20px;
    margin-top: 20px;
}

.appstore {
    text-decoration: none;
}

.appstore1 {
    margin-top: -60px;
    margin-left: 440px;
    color: black;
    height: 60px;
    width: 180px;
    background-color: white;
    border-radius: 50px;
}

.bb {
    margin-left: 64px;
    margin-top: -34px;
    font-weight: 50;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

.rating1 {
    margin-left: 64px;
    font-weight: bold;
    font-weight: 50;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.appi {
    margin-left: 20px;
    margin-top: 15px;
}

.downl {
    text-decoration: none;
}

.downl1 {
    margin-left: 631px;
    margin-top: -61px;
    color: black;
    height: 60px;
    width: 180px;
    background-color: white;
    border-radius: 50px;
}

.cc {
    margin-left: 58px;
    margin-top: -29px;
    font-weight: 50;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

.down2 {
    width : 28px;
    height : 28px;
    margin-top: 18px;
    margin-left: 18px;
    border-radius: 5px;
}

.gadgetsnow {
    margin-top: 50px;
    margin-left: 400px;
}

.newyorkpost {
    margin-top: 50px;
    margin-left: 40px;
}

.charmander {
    text-align: center;
    padding-top: 70px;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.charmelion {
    margin-left: 340px;
    width: 250px;
    height: 350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.charizard {
    margin-top: -350px;
    margin-left: 630px;
    width: 300px;
    height: 350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.swampert {
    margin-left: 950px;
    margin-top: -350px;
    width: 300px;
    height: 350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.mewtow {
    margin-left: 1250px;
    margin-top: -350px;
    width: 400px;
    height: 350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.venusar {
    margin-left: 500px;
    margin-top: 50px;
}

.bulbasur1 {
    margin-left: -42px;
}

.bulbasur {
    width: 480px;
    height: 70px;
    margin-left: 2px;
}

.hmm {
    margin-top: 20px;
    margin-left: 20px
}

.bulbasur1 li:hover {
    cursor: pointer;
    background-color: white;
}

.meganium {
    margin-left: 800px;
    margin-top: -550px;
}

#hii{
    font-size:15px;
    color:rgb(255, 255, 255)'
}
.ariana{
    height: 120px;
    width: 1400px;
    background-color:white;
}
.dia{
    height:1200px;
    width: 1870px;
    background-color:rgb(230, 248, 242);
    justify-content: center;
}
.charmelion1{
    margin-left:18px ;
    height:210px
}
.charmelion2{
    padding-left:24px;
    font-size:16px;
    margin-top:-10px;
}
.charmelion3{
    text-align:center;
    font-size:14px;
    margin-top:-10px;
}
.charizard1{
    margin-left:45px;
    height:210px
}
.mewtow1{
    margin-left:90px;
    height:210px
}

.venusar1{
    color:rgb(17, 159, 235);
    font-size:25px;
    font-weight:bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif"
}
.venusar2{
    font-size:50px;
    margin-top:-2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(49, 48, 48);
}
.venusar3{
    font-size:17px;
    margin-top:-38px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.stungfisk{
    height:650px;
    width: 1870px;
    background-color:rgb(194, 232, 234);
    margin-top:-23px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.stungfisk1{
    color:rgb(31, 134, 244);
    margin-left:550px;
    padding-top:150px;
    font-size:25px; 
}
.stungfisk2{
font-size:55px;
color: rgb(29, 29, 29);
margin-top:-18px;
margin-left:550px;
}
.stungfisk3{
    font-size: 25px;
    font-weight: lighter;
    margin-top:-35px;
    margin-left:550px;
    color:rgb(60, 57, 57);
}
.Lernmore{
    border-color: rgb(10, 123, 204);
    color: rgb(22, 106, 250);
    background: rgba(0, 0, 0, 0);
    margin-left:550px;
    height:60px;
    width:170px;
    border-radius: 50px;
    font-size:17px;
    font-weight: bold;
}
.premium{
    height:350px;
    width:550px;
    margin-left:1050px;
    margin-top:-500px;
}
.piplup{
    width: 1870px;
    background-color: rgb(255, 255, 255);
    margin-top:-30px;
    height: 600px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image:url(./images/truecaller-impact.avif);
    background-repeat:no-repeat;
    background-size:900px 600px;
}
.piplup1{
    font-size: 30px;
    padding-left:1000px;
    padding-top:200px;
  
}
.piplup2{
    font-size:50px;
    margin-top: -35px;
    margin-left:1000px;
}
.piplup3{
    border-color: rgb(10, 123, 204);
    color: rgb(22, 106, 250);
    background: rgba(0, 0, 0, 0);
    border-radius: 50px;
    font-size:17px;
    font-weight: bold;
    margin-left:1000px;
    height:60px;
    width:170px;
}
.piplup4{
    font-size:23px;
    margin-top:-40px;
    margin-left:1000px;
}
.crowbat{
    background-color:rgba(236, 245, 244, 0.89);
    height:750px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top:-40px;
}
.crowbat1{
    color: rgb(30, 28, 28);
    padding-top:40px;
    font-size:55px;
    padding-left:300px;
}
.crowbat2{
    height:580px;
    width: 460px;
    background-color:white;
    margin-top:-30px;
    margin-left:300px;
    border-radius:15px;
}
.crowbat2 p {
    padding-left:40px;
    padding-top:30px;
    color: rgb(39, 159, 251);
    font-weight:bold;
}
.crowbat2 img{
    width: 460px;
    height:300px;
}
.crowbat2 h6{
    font-size:35px;
    padding-left:20px;
    letter-spacing:2px;
    font-weight:bold ;
    color: rgb(42, 40, 40);
    margin-top:10px;
    margin-bottom:0px;
}
.crowbat2 div{
    font-size:15px;
    padding-left:20px;
    padding-top:20px;
    font-weight: lighter;
}
.crowbat2 pre{
    padding-left:20px;
    font-size:13px;
    padding-top:10px;
    color: rgb(126, 121, 121);
}
.zoobat2{
    height:580px;
    width: 460px;
    background-color:white;
    margin-top:-600px;
    margin-left:780px;
    border-radius:15px;
}
.zoobat2 p {
    padding-left:40px;
    padding-top:30px;
    color: rgb(39, 159, 251);
    font-weight:bold;
}
.zoobat2  img{
    width: 460px;
    height:300px;
}
.zoobat2  h6{
    font-size:35px;
    padding-left:20px;
    font-weight:bold ;
    color: rgb(42, 40, 40);
    margin-top:10px;
    margin-bottom:0px;
}
.zoobat2  div{
    font-size:15px;
    padding-left:20px;
    padding-top:20px;
    font-weight: lighter;
}
.zoobat2 pre{
    padding-left:20px;
    font-size:13px;
    padding-top:10px;
    color: rgb(126, 121, 121);
}
.golbat2{
    height:580px;
    width: 460px;
    background-color:white;
    margin-top:-600px;
    margin-left:1260px;
    border-radius:15px;
}
.golbat2 p {
    padding-left:40px;
    padding-top:30px;
    color: rgb(39, 159, 251);
    font-weight:bold;
}
.golbat2  img{
    width: 460px;
    height:300px;
}
.golbat2  h6{
    font-size:35px;
    padding-left:20px;
    font-weight:bold ;
    color: rgb(42, 40, 40);
    margin-top:10px;
    margin-bottom:0px;
}
.golbat2  div{
    font-size:15px;
    padding-left:20px;
    padding-top:20px;
    font-weight: lighter;
}
.golbat2 pre{
    padding-left:20px;
    font-size:13px;
    padding-top:10px;
    color: rgb(126, 121, 121);
}