@media screen and (max-width:1540px) {
    nav {
        width: 1515px;
        height: 600px;
    }

    nav .logo {
        padding-top: 10px;
        padding-left: 50px;
        font-size: 25px;
    }

    nav .logo1 {
        padding-top: 10px;
        font-size: 25px;
    }

    nav ul {
        padding-right: 50px;
        margin-top: -10px;
    }

    h1 {
        margin-top: 90px;
        margin-left: 50px;
        font-size: 60px;
    }

    .comeon {
        height: 40px;
        margin-left: 10px;
        font-size: 12px;
    }

    .serchbar {
        margin-left: 50px;
        height: 80px;
    }

    .icons {
        margin-left: 487px;
        margin-top: -47px;
        height: 45px;
    }

    .playstore1 {
        margin-left: 50px;
    }

    .aa {
        font-size: 12px;
    }

    .appstore1 {
        margin-left: 240px;
    }

    .bb {
        font-size: 13px;
    }

    .downl1 {
        margin-left: 431px;
    }

    .cc {
        margin-top: -25px;
        font-size: 13px;
    }

    .gadgetsnow {
        margin-left: 260px;
    }

    .charmelion {
        margin-left: 200px;
    }

    .charizard {
        margin-left: 450px;
    }

    .swampert {
        margin-left: 750px;
    }

    .mewtow {
        margin-left: 1040px;
    }

    .venusar {
        margin-left: 200px;
    }

    .meganium {
        margin-left: 850px;
    }
    #hii{
        font-size:15px;
    }
    .rating{
        font-size:13px;
    }
    .rating1{
        font-size:13px;
    }
    .down2 {
        width : 23px;
        height : 23px;
    }
    .ariana{
        height:100px;
        width: 1515px;
        margin-top:20px
    }
    .dia{
        height:1300px;
        width: 1515px;
    }
    .charmelion1{
        height:190px;
    }
    .charmelion2{
        font-size:15px;
    }
    .charmelion3{
        font-size:15px;
    }
    .charizard1{
        height:190px
    }
    .mewtow1{
        height:190px
    }
    .venusar1{
        font-size:20px;
    }
    .venusar2{
        font-size:40px; 
    }
    .venusar3{
        font-size:15px;
        margin-top:-25px;
    }
    .stungfisk{
        width: 1515px;
        height: 630px;
    }
    .stungfisk1{
        margin-left:200px;
    }
    .stungfisk2{
        margin-left:200px;
    }
    .stungfisk3{
        margin-left:200px;
    }
    .Lernmore{
        margin-left:200px;
    }
    .premium{
    margin-left: 800px;
    height:300px;
    width:500px;
    }
    .piplup{
        width: 1515px;
        height: 600px;
        background-size:750px 600px;
    }
    .piplup1{
        font-size: 20px;
        padding-left:800px;
        padding-top:200px;
    }
    .piplup2{
    font-size:40px;
    margin-top: -15px;
    margin-left:800px;
    }
    .piplup4{
        font-size:20px;
        margin-top:-20px;
        margin-left:800px;
    }
    .piplup3{
        font-size:15px;
        margin-left:800px;
        height:50px;
        width:160px;   
    }
    .crowbat{
        width: 1515px;
        height: 650px;
    }
    .crowbat1{
        padding-top:30px;
        font-size:40px;
        padding-left:200px;
    }
    .crowbat2{
        height:480px;
        width: 360px;
        margin-top:-20px;
        margin-left:200px;
    }
    .crowbat2 p
    {
        padding-left:30px;
        padding-top:20px; 
    }
    .crowbat2 img{
        width: 360px;
        height:200px;
    }
    .crowbat2 h6 {
        font-size:25px;
    }
    .crowbat2 div{
        font-size:11px;
        padding-top:10px;
    }
    .crowbat2 pre{
        padding-top:50px;
    }
    .zoobat2{
        height:480px;
        width: 360px;
        margin-top:-495px;
        margin-left:580px;
    }
    .zoobat2 p
    {
        padding-left:30px;
        padding-top:20px; 
    }
    .zoobat2 img{
        width: 360px;
        height:200px;
    }
    .zoobat2 h6 {
        font-size:22px;
    }
    .zoobat2 div{
        font-size:10px;
        padding-top:10px;
    }
    .zoobat2 pre{
        padding-top:50px;
    }
    .golbat2{
        height:480px;
        width: 360px;
        margin-top:-495px;
        margin-left:960px;
    }
    .golbat2 p
    {
        padding-left:30px;
        padding-top:20px; 
    }
    .golbat2 img{
        width: 360px;
        height:200px;
    }
    .golbat2 h6 {
        font-size:22px;
    }
    .golbat2 div{
        font-size:10px;
        padding-top:10px;
    }
    .golbat2 pre{
        padding-top:50px;
    }
}